doctype
html(lang="es")
	head
		meta(charset='UTF-8')
		title estilos de los atributos
	body
		h1 Estilos de los atributos
		hr
		section(style="border: 1px solid silver; height: 200px; margin: 20px auto; width: 400px")
			div(style="background-color: Red; border-radius: 70px; height: 140px; margin: 30px auto; width: 140px;")


