doctype
html(lang='es')
	head
		meta(charset='UTF-8')
		title Casos
	body

		//1
		- var friends = 2
		case friends
			when 0: p no tiene amigos
			when 1: p no tiene amigos
			when 2: p tiene #{friends} amigos 
			default: p tiene #{friends} friends

		



