doctype
html(lang='es')
	head
		meta
		title
	body
		h1 casos
		hr
		ul
			-var goles = 40
			case goles
				when 0
					li 
						strong no tiene goles
				when 1
					li tiene 1 o 2 goles
				when 2
					li tiene 1 o 2 goles en contra
				default
					li tiene #{goles} goles en contra