doctype
html(lang='es')
	head
		meta(charset='UTF-8')
		title Codigo
	body
		h1 codigo
		hr
		//- sin bufer
		menu
			ul
			- for(var i= 1;i <= 20;i++)
				li elemento #{li}
		//- Con bufer
		- var contenido='<strong> Lorem ipsum dolor </strong><em>sit.</em>'
		p=contenido
		br
		p!=contenido


