doctype
html(lang='es')
	head
		meta(charset='UTF-8')
		title Comentarios
	body
		h1 Comentarios
		hr
		//comentario linea (se ve en el marcado)
		//-comentario linea PUG no se ve en el marcado
		// Comentario de bloque ( se ve en el marcado)
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus similique, unde iure assumenda in cumque deserunt, dicta commodi, quos labore voluptates ex doloremque facilis vitae, fugiat sequi vero mollitia veniam!
		//-comentario de bloque (no se ve en le marcado)
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error delectus velit consequuntur, voluptas at repellat quas amet accusantium et beatae explicabo, possimus aliquam eveniet asperiores distinctio consequatur rerum, accusamus dicta!