doctype
html(lang='es')
	head
		meta(metacharset='UTF-8')
		title Comentarios
	body
	//comentarios de una sola linea	
	//-comentario que no aparece en html
	//-comentario en bloque
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, atque! Corrupti corporis voluptatum perspiciatis quod perferendis fuga, quasi modi laboriosam nam dolorem consequuntur iusto consectetur, rem esse! Quidem, labore ducimus!
	//comentario en bloque 
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatibus sint reiciendis accusantium repellat pariatur beatae dignissimos, officiis voluptas qui consequatur eveniet quo consequuntur asperiores veniam, temporibus, architecto rerum quidem?