doctype
html(lang='es')
	head
		meta(charset='UTF-8')
		title Condicionales
	body
		h1 Condicionales
		hr
		-var edad = 22
		-var persona = {alto: 180, peso: 120 , genero:'femenino'}
		article
			if (edad >= 18)
				h2 usted puede votar
				p='genero: '+persona.genero
				p='peso: '+persona.peso
				p='altura: '+persona.alto	
			else
				h2 usted no puede votar