doctype
html(lang='es')
	head
		meta(charset='UTF-8')
		title Condicionales
	body
	//condicionales
	-var autorizacion=false
	-var usuario={descripcion: 'Lorem ipsum dolor'}
	article#user
		if autorizacion
			h2.green Descripcion
			p.descripcion=usuario.descripcion
		else
			h2.red Descripcion
			p.descripcion no hay informacion

