doctype
html(lang='es')
	include includes/header.pug
	body
		h1 lass
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis fuga expedita ad similique laboriosam, in nostrum reiciendis voluptate vel repellendus minus blanditiis eligendi, placeat alias numquam porro eius ipsam. Autem.
		include includes/footer.pug