doctype
html(lang='es')
	head
		meta(charset="utf-8")
		block title
			title Titulo por defecto
	body
		block article
			article
				h1 Encabezado por defecto
				p texto por defecto
		block scripts
			script(src='js/jquery.js')